<div id="<%= dom_id todo %>">
  <p>
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Completed:</strong>
    <span class="<%= todo.completed? ? "text-green-600" : "text-red-600" %>">
      <%= todo.completed? ? "Completed" : "Not Completed" %>
    </span>
  </p>

</div>
